*{
    margin: 0;
    padding: 0;
}
header{

width: 100%;

display: table;
background-color: #f5f5f5;

border-bottom: 1px solid #f1f1f1;
}
.logo{

width: 150px;

float: left;
}
.logo img{

}
nav{

list-style: none;

float: right;
}
nav ul{
    
list-style: none;
}
nav ul li{
    
display: inline-block;
    
margin-right: 10px;
    
padding: 10px;
    
text-align: justify;
    
text-transform: capitalize;
    
font-weight: 600;
}
.mycontent {
    width: 700px;
    margin: auto;
    text-align: center;
    display: block;
    padding: 80px 0px;
}
.mycontent p {
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0;
    text-align: -webkit-center;
}
.mycontent > h2 {
    font-size: 48px;
    color: #21215f;
    font-weight: 800;
}

.mycontent > h2 > span {
    color: blue;
}
.secondcontent {
    display: block;
    width: 800px;
    margin: auto;
}

.leftcontent {
    width: 49%;
    display: block;
    float: left;
    text-align: right;
}

.rightcontent {
    float: right;
    width: 49%;
    text-align: left;
}

.leftcontent > h3 {
    font-size: 40px;
    color: #ff501b;
    padding-bottom: 10px;
}

.leftcontent > p {
    font-size: 16px;
    line-height: 24px;
}

.rightcontent >h3 {
    font-size: 55px;
    color: #21215f;
}

footer {
    background: #000011;
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    overflow: hidden;
    width: 100% !important;
}